#root {
  font-family: 'Raleway', sans-serif;

  .rel {position: relative;}
  .dfac {display: flex; align-items: center;}
  .dfc {display: flex; align-items: center; justify-content: center;}
  .fl { float: left; }
  .fr { float: right; }
  .hand{ cursor: pointer; }
}
